.wrapper {
  padding: 40px 0;
  text-align: center;
}

.title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 35px;
}

.text {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
}

.info {
  font-size: 20px;
}

.link {
  font-weight: 500;
  color: #145a32;
}
