.button {
  display: inline-block;

  margin: 5px 15px;
  padding: 2px;
  cursor: pointer;

  font-size: 14px;
  font-family: inherit;
  background-color: #ffffff;
  color: #66cc66;
}

.button:hover,
.button:focus {
  background-color: #336633;
}

.listItem {
  border: 1px solid #336633;
  border-radius: 5px;
  max-width: 350px;
  margin-bottom: 5px;

  background-color: #669966;
}
